<div class="container-content">
    <div class="row">
        <div class="col-3">
            <div class="box">
                <div class="title">
                    <h2><span class="title-text">TIKI Online</span> </h2>
                </div>
                <div class="item">
                    <div class="item-product">
                        <div class="item-product-thumbnail">
                            <a href="" class="item-product-thumbnail__link">
                            <img src="https://bizweb.dktcdn.net/thumb/medium/100/177/708/products/screen-shot-2020-07-31-at-16-28-07.png?v=1596187697977" alt=""  class="img">
                            </a>
                        </div>
                        <div class="item-product-info">
                            <h3 class="item-product-name">Dao cắt, Dao rọc Martor</h3>
                            <div class="item-product-contact"> <span>Liên hệ</span></div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="box">
                <div class="title">
                    <h2><span class="title-text">INNOVATION</span> </h2>
                </div>
                <div class="item-product-thumbnail product-image">
                    <a href="" class="item-product-thumbnail__link">
                    <img src="https://bizweb.dktcdn.net/thumb/medium/100/177/708/products/screen-shot-2020-04-20-at-12-44-11.png?v=1587361468300" alt=""  class="img img-banner">
                    </a>
                </div>
                <div class="item-product-info">
                    <h3 class="item-product-name banner-name">THÙNG DỤNG CỤ HOFFMANN, GARANT</h3>
                    <div class="item-product-contact"> <span>Liên hệ</span></div>
                </div>
                
                <div class="item-product-thumbnail product-image">
                    <a href="" class="item-product-thumbnail__link">
                    <img src="https://bizweb.dktcdn.net/thumb/medium/100/177/708/products/screen-shot-2020-04-20-at-12-44-11.png?v=1587361468300" alt=""  class="img img-banner">
                    </a>
                </div>
                <div class="item-product-info">
                    <h3 class="item-product-name banner-name">THÙNG DỤNG CỤ HOFFMANN, GARANT</h3>
                    <div class="item-product-contact"> <span>Liên hệ</span></div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="module-title">
                <i class="far fa-paper-plane module-title-icon"></i>
               <!--  <i class="fa fa-paper-plane-o  " aria-hidden="true"></i> -->
                <h2>
                    <span class="module-title-text">HOT ITEMS</span>
                </h2>
            </div>

            <div class="row line-row">
                <div class="col-3">
                    <div class="product-box">
                        <div class="product-box-thumbnail">
                            <img src="https://bizweb.dktcdn.net/100/177/708/products/21-3110-63-5.jpg?v=1587624461563" alt="phay-cao-toc-hi5-high-feed-rate" class="product-box-thumbnail__img" >
                        </div>
                        <div class="product-box-info">
                            <h3 class="product-box-info__name">PHAY CAO TỐC - Hi5 high feed rate</h3>
                            <div class="product-box-info__contact">Liên hệ</div>
                        </div>
                        <p class="item-name">PHAY CAO TỐC - Hi5 high feed rate</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-box">
                        <div class="product-box-thumbnail">
                            <img src="https://bizweb.dktcdn.net/100/177/708/products/21-3110-63-5.jpg?v=1587624461563" alt="phay-cao-toc-hi5-high-feed-rate" class="product-box-thumbnail__img" >
                        </div>
                        <div class="product-box-info">
                            <h3 class="product-box-info__name">PHAY CAO TỐC - Hi5 high feed rate</h3>
                            <div class="product-box-info__contact">Liên hệ</div>
                        </div>
                        <p class="item-name">PHAY CAO TỐC - Hi5 high feed rate</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-box">
                        <div class="product-box-thumbnail">
                            <img src="https://bizweb.dktcdn.net/100/177/708/products/21-3110-63-5.jpg?v=1587624461563" alt="phay-cao-toc-hi5-high-feed-rate" class="product-box-thumbnail__img" >
                        </div>
                        <div class="product-box-info">
                            <h3 class="product-box-info__name">PHAY CAO TỐC - Hi5 high feed rate</h3>
                            <div class="product-box-info__contact">Liên hệ</div>
                        </div>
                        <p class="item-name">PHAY CAO TỐC - Hi5 high feed rate</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-box">
                        <div class="product-box-thumbnail">
                            <img src="https://bizweb.dktcdn.net/100/177/708/products/21-3110-63-5.jpg?v=1587624461563" alt="phay-cao-toc-hi5-high-feed-rate" class="product-box-thumbnail__img" >
                        </div>
                        <div class="product-box-info">
                            <h3 class="product-box-info__name">PHAY CAO TỐC - Hi5 high feed rate</h3>
                            <div class="product-box-info__contact">Liên hệ</div>
                        </div>
                        <p class="item-name">PHAY CAO TỐC - Hi5 high feed rate</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-box">
                        <div class="product-box-thumbnail">
                            <img src="https://bizweb.dktcdn.net/100/177/708/products/21-3110-63-5.jpg?v=1587624461563" alt="phay-cao-toc-hi5-high-feed-rate" class="product-box-thumbnail__img" >
                        </div>
                        <div class="product-box-info">
                            <h3 class="product-box-info__name">PHAY CAO TỐC - Hi5 high feed rate</h3>
                            <div class="product-box-info__contact">Liên hệ</div>
                        </div>
                        <p class="item-name">PHAY CAO TỐC - Hi5 high feed rate</p>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    <a href="" class="banner">
                        <img src="https://bizweb.dktcdn.net/100/177/708/themes/684336/assets/banner_1.jpg?1634115065819" alt="" class="banner-img">
                    </a>
                </div>
                <div class="col-6">
                    <a href="" class="banner">
                        <img src="https://bizweb.dktcdn.net/100/177/708/themes/684336/assets/banner_2.jpg?1634115065819" alt="" class="banner-img">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row new-product">
        <div class="col-12">
            <div class="module-title">
                <i class="far fa-paper-plane module-title-icon"></i>
               <!--  <i class="fa fa-paper-plane-o  " aria-hidden="true"></i> -->
                <h2>
                    <span class="module-title-text">NEW PRODUCTS 2021</span>
                </h2>
            </div>
            <div class="row new-row">
                <div class="col-2 new-col-2">
                    <div class="item-box" style="padding: 5px;">
                        <div class="item-box-product">
                            <div class="product-box-thumbnail">
                                <img src="https://bizweb.dktcdn.net/100/177/708/products/21-3110-63-5.jpg?v=1587624461563" alt="phay-cao-toc-hi5-high-feed-rate" class="product-box-thumbnail__img" >
                            </div>
                            <div class="item-product-info">
                                <h3 class="item-product-name banner-name">THÙNG DỤNG CỤ HOFFMANN, GARANT</h3>
                                <div class="item-product-contact banner-contact"> <span>Liên hệ</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 new-col-2">
                    <div class="item-box" style="padding: 5px;">
                        <div class="item-box-product">
                            <div class="product-box-thumbnail">
                                <img src="https://bizweb.dktcdn.net/100/177/708/products/21-3110-63-5.jpg?v=1587624461563" alt="phay-cao-toc-hi5-high-feed-rate" class="product-box-thumbnail__img" >
                            </div>
                            <div class="item-product-info">
                                <h3 class="item-product-name banner-name">THÙNG DỤNG CỤ HOFFMANN, GARANT</h3>
                                <div class="item-product-contact banner-contact"> <span>Liên hệ</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 new-col-2">
                    <div class="item-box" style="padding: 5px;">
                        <div class="item-box-product">
                            <div class="product-box-thumbnail">
                                <img src="https://bizweb.dktcdn.net/100/177/708/products/21-3110-63-5.jpg?v=1587624461563" alt="phay-cao-toc-hi5-high-feed-rate" class="product-box-thumbnail__img" >
                            </div>
                            <div class="item-product-info">
                                <h3 class="item-product-name banner-name">THÙNG DỤNG CỤ HOFFMANN, GARANT</h3>
                                <div class="item-product-contact banner-contact"> <span>Liên hệ</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 new-col-2">
                    <div class="item-box" style="padding: 5px;">
                        <div class="item-box-product">
                            <div class="product-box-thumbnail">
                                <img src="https://bizweb.dktcdn.net/100/177/708/products/21-3110-63-5.jpg?v=1587624461563" alt="phay-cao-toc-hi5-high-feed-rate" class="product-box-thumbnail__img" >
                            </div>
                            <div class="item-product-info">
                                <h3 class="item-product-name banner-name">THÙNG DỤNG CỤ HOFFMANN, GARANT</h3>
                                <div class="item-product-contact banner-contact"> <span>Liên hệ</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 new-col-2">
                    <div class="item-box" style="padding: 5px;">
                        <div class="item-box-product">
                            <div class="product-box-thumbnail">
                                <img src="https://bizweb.dktcdn.net/100/177/708/products/21-3110-63-5.jpg?v=1587624461563" alt="phay-cao-toc-hi5-high-feed-rate" class="product-box-thumbnail__img" >
                            </div>
                            <div class="item-product-info">
                                <h3 class="item-product-name banner-name">THÙNG DỤNG CỤ HOFFMANN, GARANT</h3>
                                <div class="item-product-contact banner-contact"> <span>Liên hệ</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 new-col-2">
                    <div class="item-box" style="padding: 5px;">
                        <div class="item-box-product">
                            <div class="product-box-thumbnail">
                                <img src="https://bizweb.dktcdn.net/100/177/708/products/21-3110-63-5.jpg?v=1587624461563" alt="phay-cao-toc-hi5-high-feed-rate" class="product-box-thumbnail__img" >
                            </div>
                            <div class="item-product-info">
                                <h3 class="item-product-name banner-name">THÙNG DỤNG CỤ HOFFMANN, GARANT</h3>
                                <div class="item-product-contact banner-contact"> <span>Liên hệ</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    <div class="row line-row">
        <div class="col-12">
            <div class="module-title">
                <i class="far fa-paper-plane module-title-icon"></i>
               <!--  <i class="fa fa-paper-plane-o  " aria-hidden="true"></i> -->
                <h2>
                    <span class="module-title-text">PROMOTION</span>
                </h2>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="box">
                        <div class="item">
                            <div class="item-product">
                                <div class="item-product-thumbnail">
                                    <a href="" class="item-product-thumbnail__link item-product-new">
                                    <img src="https://bizweb.dktcdn.net/thumb/medium/100/177/708/products/screen-shot-2019-11-25-at-8-57-22-am-72af72a9-13c9-4448-b5e1-0ad5cd6f92c6.png?v=1574647277000" alt="" >
                                    </a>
                                </div>
                                <div class="item-product-info">
                                    <h3 class="item-product-name item-produc-new">Dao phay phá gắn mảnh xẻ rãnh MECH Kyocera</h3>
                                    <div class="item-product-contact"> <span>Liên hệ</span></div>
                                </div>
                                <button class="item-product-btn"> <span>Tùy chọn</span></button>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-4">
                    <div class="box">
                        <div class="item">
                            <div class="item-product">
                                <div class="item-product-thumbnail">
                                    <a href="" class="item-product-thumbnail__link item-product-new">
                                    <img src="https://bizweb.dktcdn.net/thumb/medium/100/177/708/products/screen-shot-2019-11-20-at-12-48-18-pm.png?v=1574229157000" alt="" >
                                    </a>
                                </div>
                                <div class="item-product-info">
                                    <h3 class="item-product-name item-produc-new">Dao phay phá gắn mảnh xẻ rãnh MECH Kyocera</h3>
                                    <div class="item-product-contact"> <span>Liên hệ</span></div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-4">
                    <div class="box">
                        <div class="item">
                            <div class="item-product">
                                <div class="item-product-thumbnail">
                                    <a href="" class="item-product-thumbnail__link item-product-new">
                                    <img src="https://bizweb.dktcdn.net/thumb/medium/100/177/708/products/percentage2f9percentage2f001pe-a84c1292-5996-49b2-baae-ab9692681e56.png?v=1540702049937" alt="" >
                                    </a>
                                </div>
                                <div class="item-product-info">
                                    <h3 class="item-product-name item-produc-new">Dao phay phá gắn mảnh xẻ rãnh MECH Kyocera</h3>
                                    <div class="item-product-contact"> <span>Liên hệ</span></div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-4">
                    <div class="box">
                        <div class="item">
                            <div class="item-product">
                                <div class="item-product-thumbnail">
                                    <a href="" class="item-product-thumbnail__link item-product-new">
                                    <img src="https://bizweb.dktcdn.net/thumb/medium/100/177/708/products/screen-shot-2019-11-25-at-8-49-51-am.png?v=1574646625000" alt="" >
                                    </a>
                                </div>
                                <div class="item-product-info">
                                    <h3 class="item-product-name item-produc-new">Dao phay phá gắn mảnh xẻ rãnh MECH Kyocera</h3>
                                    <div class="item-product-contact"> <span>Liên hệ</span></div>
                                </div>
                                <button class="item-product-btn"> <span>Tùy chọn</span></button>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-4">
                    <div class="box">
                        <div class="item">
                            <div class="item-product">
                                <div class="item-product-thumbnail">
                                    <a href="" class="item-product-thumbnail__link item-product-new">
                                    <img src="https://bizweb.dktcdn.net/thumb/medium/100/177/708/products/percentage2f9percentage2f001pe-c74814a7-5e38-4171-903f-d98fc0727a24.png?v=1540702051193" alt="" >
                                    </a>
                                </div>
                                <div class="item-product-info">
                                    <h3 class="item-product-name item-produc-new">Dao phay phá gắn mảnh xẻ rãnh MECH Kyocera</h3>
                                    <div class="item-product-contact"> <span>Liên hệ</span></div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div><div class="col-4">
                    <div class="box">
                        <div class="item">
                            <div class="item-product">
                                <div class="item-product-thumbnail">
                                    <a href="" class="item-product-thumbnail__link item-product-new">
                                    <img src="https://bizweb.dktcdn.net/thumb/medium/100/177/708/products/screen-shot-2019-11-25-at-8-57-22-am-72af72a9-13c9-4448-b5e1-0ad5cd6f92c6.png?v=1574647277000" alt="" >
                                    </a>
                                </div>
                                <div class="item-product-info">
                                    <h3 class="item-product-name item-produc-new">Dao phay phá gắn mảnh xẻ rãnh MECH Kyocera</h3>
                                    <div class="item-product-contact"> <span>Liên hệ</span></div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="" style="height: 1330px;"></div>
